<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css1/c1.css' %}">
    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
</head>
<body>
    <form method="POST" class="post-form" action="/update/{{student.id}}">            
        {% csrf_token %}
        <div class="container">
            <br>
            <div class="form-group row">
                <label class="col-sm-1 col-form-label"></label>
                <div class="col-sm-4">
                    <h3>Update Details</h3>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Student id:</label>
                <div class="col-sm-4">
                    <input type="text" name="sid" id="id_sid" required maxlength="20" value="{{ student.sid }}" />
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Student Name:</label>
                <div class="col-sm-4">
                    <input type="text" name="sname" id="id_sname" required maxlength="100"
                        value="{{ student.sname }}" />
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Tamil:</label>
                <div class="col-sm-4">
                    <input type="number" name="stamil" id="id_stamil" required maxlength="254"
                        value="{{ student.stamil }}" />
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">English:</label>
                <div class="col-sm-4">
                    <input type="number" name="senglish" id="id_senglish" required maxlength="15"
                        value="{{ student.senglish }}" />
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">maths:</label>
                <div class="col-sm-4">
                    <input type="number" name="smaths" id="id_smaths" required maxlength="15"
                        value="{{ student.smaths }}" />
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">science:</label>
                <div class="col-sm-4">
                    <input type="number" name="sscience" id="id_sscience" required maxlength="15"
                        value="{{ student.sscience }}" />
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">social:</label>
                <div class="col-sm-4">
                    <input type="number" name="ssocial" id="id_ssocial" required maxlength="15"
                        value="{{ student.ssocial }}" />
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-1 col-form-label"></label>
                <div class="col-sm-4">
                    <button type="submit" class="btn btn-success">Update</button>
                </div>
            </div>
        </div>
    </form>
</body>
</html>